@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="about">
    <h2>About Team 12 Clinic</h2>
    <p>Founded on the pillars of innovation, trust, and patient-centricity, Team 12 Clinic has rapidly emerged as a beacon of healthcare excellence...</p>
</section>

<section class="expertise">
    <h2>Our Expertise at Team 12 Clinic</h2>
    <p>At Team 12 Clinic, we pride ourselves on offering a comprehensive suite of medical services tailored to the diverse needs of our patients...</p>
    <ul>
        <li><strong>General Medicine:</strong> From preventive care to treatment of acute conditions...</li>
        <li><strong>Specialized Surgery:</strong> Leveraging state-of-the-art technology and techniques...</li>
        <li><strong>Cardiology:</strong> Heart health is pivotal...</li>
        <li><strong>Obstetrics and Gynecology:</strong> Celebrating womanhood...</li>
    </ul>
</section>