@model WebApplication3.Models.NurseAppointments

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="patient_id" class="control-label"></label>
                <input asp-for="patient_id" class="form-control" />
                <span asp-validation-for="patient_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_appointment" class="control-label"></label>
                <input asp-for="date_appointment" class="form-control" />
                <span asp-validation-for="date_appointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="office_id" class="control-label"></label>
                <input asp-for="office_id" class="form-control" />
                <span asp-validation-for="office_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctor_id" class="control-label"></label>
                <input asp-for="doctor_id" class="form-control" />
                <span asp-validation-for="doctor_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
