@model med_test8.Models.Appointments

@{
    ViewData["Title"] = "Create";
}

<style>
    .form-container {
        max-width: 800px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the container */
    }

    .buttons {
        max-width: 200px; /* Adjust the maximum width as needed */
        margin: 0; /* Center the container */
    }
</style>

<div class="blueHeader">
    <header> Office Admin View </header>
</div>
<div style="padding-bottom: 20px;"></div>

<div class="shadowed-site-container">

<h1>Create</h1>

<h4>Appointments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                <label asp-for="doctor_id" class="control-label">Doctor</label>
                <select asp-for="doctor_id" asp-items="@(new SelectList(ViewBag.Doctors, "Id", "FullName"))" class="form-control">
                    <option value="">Select Doctor</option>
                </select>
                <span asp-validation-for="doctor_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="patient_id" class="control-label">Patient</label>
                <select asp-for="patient_id" asp-items="@(new SelectList(ViewBag.Patients, "Id", "FullName"))" class="form-control">
                    <option value="">Select Patient</option>
                </select>
                <span asp-validation-for="patient_id" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="date_appointment" class="control-label">Appointment Date</label>
                    <input asp-for="date_appointment" class="form-control" />
                    <span asp-validation-for="date_appointment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="office_id" class="control-label">Office ID</label>
                    <input asp-for="office_id" class="form-control" value="" />
                    <span asp-validation-for="office_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="buttons">
    <button onclick="location.href='@Url.Action("Index", "Appointment_SV")'" class="custom-button" type="button">Back to List</button>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
