@model MedicalWebApp.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Create Appointment";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Appointment.DateAppointment" class="control-label">Appointment Date</label>
        <input asp-for="Appointment.DateAppointment" class="form-control" type="datetime" />
        <span asp-validation-for="Appointment.DateAppointment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Appointment.DoctorId" class="control-label">Doctor</label>
        <select asp-for="Appointment.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
    </div>

    <!-- Patient details -->
    <div class="form-group">
        <label asp-for="Patient.FirstName" class="control-label">First Name</label>
        <input asp-for="Patient.FirstName" class="form-control" />
        <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.MiddleInitial" class="control-label">Middle Initial</label>
        <input asp-for="Patient.MiddleInitial" class="form-control" maxlength="1" />
    </div>

    <div class="form-group">
        <label asp-for="Patient.LastName" class="control-label">Last Name</label>
        <input asp-for="Patient.LastName" class="form-control" />
        <span asp-validation-for="Patient.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Address" class="control-label">Address</label>
        <input asp-for="Patient.Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Patient.Email" class="control-label">Email</label>
        <input asp-for="Patient.Email" class="form-control" type="email" />
    </div>

    <div class="form-group">
        <label asp-for="Patient.Phone" class="control-label">Phone</label>
        <input asp-for="Patient.Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Patient.Gender" class="control-label">Gender</label>
        <input asp-for="Patient.Gender" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Patient.DoB" class="control-label">Date of Birth</label>
        <input asp-for="Patient.DoB" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <input type="submit" value="Make an Appointment" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
