<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team 12 Medical Clinic</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <span>Team 12 Medical Clinic</span>
        <button class="navbar-toggler" type="button" onclick="if (document.querySelector('.navbar').classList.contains('show-menu')) { document.querySelector('.navbar').classList.remove('show-menu'); } else { document.querySelector('.navbar').classList.add('show-menu'); }">
            ☰
        </button>

        <div class="navbar-menu">
            <a asp-page="/Index">Home</a>
            <a asp-page="/AboutUs">About Us</a>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a asp-page="/Privacy">Privacy</a>
        </div>


    </nav>
    @RenderSection("Scripts", required: false)


    <div class="container">
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div class="contact-info">
            <ul>
                <li><strong>Email:</strong> <a href="mailto:smirsha2@cougarnet.uh.edu">smirsha2@cougarnet.uh.edu</a></li>
                <li><strong>Phone:</strong> <a href="tel:+18327101760">(832) 710-1760</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>Medical Clinic © Team 12 - 2023. All rights reserved.</p>
        </div>
        
    </footer>
</body>
</html>