@model MedicalWebApp.Models.Tests

@{
    ViewData["Title"] = "Edit";
}

<style>
    .form-container {
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the container */
    }

    .buttons {
        max-width: 200px; /* Adjust the maximum width as needed */
        margin: 0; /* Center the container */
    }
</style>

<div style="padding-bottom: 20px;"></div>

<div class="shadowed-site-container">

<h1>Edit</h1>

<h4>Tests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="test_id" />
            <div class="form-group">
                <label asp-for="patient_id" class="control-label"><strong>Patient ID</strong></label>
                <input asp-for="patient_id" class="form-control" style="background-color: #f0f0f0;" readonly />
                <span asp-validation-for="patient_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctor_id" class="control-label"><strong> Doctor ID</strong></label>
                <input asp-for="doctor_id" class="form-control" style="background-color: #f0f0f0;" readonly />
                <span asp-validation-for="doctor_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_test" class="control-label"><strong>Test Date</strong></label>
                <input asp-for="date_test" class="form-control" style="background-color: #f0f0f0;" readonly />
                <span asp-validation-for="date_test" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"><strong>Status</strong></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"><strong>Description</strong></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
