@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Headings */
h1, h2, h3 {
    text-align: center;
    color: #C8102E;
}

/* Reusable classes */
.centered {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Forms and Buttons */
label, input, select, button, span {
    display: block;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #C8102E;
    color: #fff;
    cursor: pointer;
    border: none;
}

    button:hover {
        background-color: #b03200;
    }

/* List styles */
ul {
    list-style: none;
    padding-left: 20px;
}

li {
    background: #C8102E;
    color: #fff;
    display: grid;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10%;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive typography */
@media (min-width: 768px) {
    h1, h2, h3 {
        font-size: 2rem;
    }
}

footer {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 45px; /* Adjust the height according to your footer's actual height */
    text-align: center; /* Adjust text alignment as needed */
}
