html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: .5px;
    background: white url("https://c1.wallpaperflare.com/preview/451/179/819/the-device-hospital-surgery-ambulance.jpg") center/cover no-repeat;
    transition: background 0.3s ease-in-out;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); /* Dark overlay */
        z-index: -1;
    }

main {
    flex: 1 0 auto;
}



a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

    a:hover {
        color: Window;
    }

/* Navigation Bar */
.navbar {
    background-color: #C8102E;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: visible;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

    .navbar a, .navbar span {
        padding: 10px 20px;
        font-size: 18px;
        margin: 0 5px;
        color: white;
        transition: all 0.3s ease-in-out;
    }

    .navbar span {
        flex-grow: 1;
        text-align: left;
        background: linear-gradient(145deg, #E02828, #C8102E);
        border-radius: 20px;
    }

        .navbar a:hover, .navbar span:hover {
            background-color: #E14B5A;
            transform: scale(1.05);
            background: linear-gradient(145deg, #A51C1C, #C8102E);
        }

.navbar-toggler {
    display: none;
    background-color: #C8102E;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

@media only screen and (max-width: 1375px) {
    .navbar-menu {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar.show-menu .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}


/* Header */
.header {
    position: relative;
    min-height: 60px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 42px;
    padding: 10px;
}

/* Container */
.container {
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    border: 2px solid #E02828;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #FFF6F6, #FFE3E3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
    flex: 1 0 auto;
}

    .container a {
        color: black;
    }

    .container .btn {
        color: #fff;
    }

.description {
    margin: 20px 0;
}

/* Button Styles */
.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #E02828;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11);
}

    .btn:hover {
        background-color: #A51C1C;
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }

/* Footer */
.site-footer {
    flex-shrink: 0;
    width: 100%;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.2);
    border-top: 4px solid #E02828;
    backdrop-filter: blur(10px);
    color: #2a2a2a;
}

    .site-footer a {
        color: #2a2a2a;
        text-decoration: underline;
    }

    .site-footer .contact-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

.contact-info ul {
    list-style: none;
    padding: 0;
}

    .contact-info ul li {
        margin: 5px 0;
    }

.site-footer .copyright, .site-footer .admin-portal {
    margin-top: 10px;
}

.copyright p {
    font-size: 12px;
    margin: 0;
    letter-spacing: 0.5px;
}




h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
}

form {
    max-width: 90%; /* Make it 90% of the container */
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}



label {
    display: block;
    margin-bottom: 10px; /* Increased margin */
    font-weight: bold;
    font-size: 1.1em; /* Increased font size */
}

input, select {
    width: 100%;
    padding: 15px; /* Increased padding */
    font-size: 1.1em; /* Increased font size */
    border: 1px solid #ccc;
    border-radius: 5px; /* Adjusted border radius */
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 15px; /* Increased padding */
    font-size: 1.1em; /* Increased font size */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }

span {
    color: red;
    font-weight: normal;
    font-size: 1em; /* Adjusted font size */
}

h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px; /* Increased padding */
    margin-bottom: 25px; /* Increased margin */
    font-size: 1.5em; /* Increased font size */
}
