@page
@{
    ViewData["Title"] = "Appointment Index";
    string[] TableHeaders = new string[] { "Patient Id", "First Name", "Middle", "Last Name", "DOB", "Phone" };
}
<style>
    th {
        padding: 10px 20px; /* Adjust the padding as needed */
        text-align: center; /* Align the text to the center */
    }
</style>

<div class="blueHeader">
    <header> Office Admin View </header>
</div>

<div class="table">
    <table>
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <!-- Include table body and other content here if needed -->
    </table>
</div>