@model WebApplication3.Models.PatientPrescriptionView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PatientPrescriptionView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="patient_id" />
            <div class="form-group">
                <label asp-for="patient_name" class="control-label"></label>
                <input asp-for="patient_name" class="form-control" />
                <span asp-validation-for="patient_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="drug_name" class="control-label"></label>
                <input asp-for="drug_name" class="form-control" />
                <span asp-validation-for="drug_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dosage" class="control-label"></label>
                <input asp-for="dosage" class="form-control" />
                <span asp-validation-for="dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_prescription" class="control-label"></label>
                <input asp-for="date_prescription" class="form-control" />
                <span asp-validation-for="date_prescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
