@page
@model LoginModel

<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%; 
        max-width: 300px; 
    }
</style>


<div class="center">
<h2>Login</h2>
<form method="post">
    

        <div>
            <p asp-validation-summary="ModelOnly" style="color: red;"></p>
        </div>
        <div>
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" type="password" />
            <span asp-validation-for="Input.Password" style="color: red;"></span>
        </div>
        <button type="submit">Login</button>
    
</form>
</div>
