@page "/Dashboards/DoctorDashboard"
@model MedicalWebApp.Pages.Dashboards.DoctorDashboardModel

<h2>Welcome, Doctor!</h2>
<p>This is your dashboard. View patient appointments, medical records, and more.</p>

<div class="container">

    <main role="main">
        <div class="square-container">
            <div class="buttons-container">
                <h3> Navigation </h3>
                <button onclick="location.href='/Doctor_View/Appointment_Index'" type="button" class="custom-button">Appointments</button>

                
                

            </div>
            <div class="square"></div>
        </div>
    </main>
</div>
